################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/UNCHAINED.slnx/FileContentIndex/23877e76-0502-4724-b958-76225ccddac2.vsidx
/.vs/UNCHAINED.slnx/FileContentIndex/48293f23-c7fd-47a6-ae3d-f3200f384396.vsidx
/.vs/UNCHAINED.slnx/FileContentIndex/1a8d6516-54d5-4471-ab02-fc7af16bf856.vsidx
/.vs/UNCHAINED.slnx/FileContentIndex
