fastapi==0.115.2
uvicorn[standard]==0.32.0
pydantic==2.9.2
SQLAlchemy==2.0.36
aiosqlite==0.20.0
python-dotenv==1.0.1
mutagen==1.47.0
pillow==11.0.0
numpy==2.1.2
scipy==1.13.1
soundfile==0.12.1
orjson==3.10.7
